@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans', sans-serif;
}
.main-container{
    width: 100%;
    margin: auto;
    background-color:#F0F2F1;
}
.main-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero{
    display: flex;
    padding: 0 180px;
    flex-direction: column;
    gap: 30px;
    background-color: #3B5D4F;
    height: 600px;

}

/* Header style*/
header{
    position: relative;
    top: 0;
    color: #fff;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-size: 32px;
    font-weight: 500;
}
/* navigation styling*/
.navigations{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    height: 30px;
    gap: 60px;
}
nav{
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: flex
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
nav a.active::before{
    content: "";
    bottom: 2px;
    position: absolute;
    height: 5px;
    width: 45px;
    border-radius: 5px;
    background-color:#FCE928 ;
    
}
.icons{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 24px;
    gap: 24px;

}
 nav a:hover{
     color: #FCE928;
}
.herocontents{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start; 
}
.left{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
    height: 252px;
    width: 40%;
    gap: 24px;
    margin: auto;
}
.market{
    text-transform: capitalize;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 48.98px;
}
.text{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
div button {
    border: none;
    padding: 9px 16px;
    width: 120px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
}
.primary{
    background-color: #FCE928;
    color: #2F2F2F;
}
.primary-2{
    background-color: #2F2F2F;
    color: #fff;
}
.primary:hover{
    background: transparent;
    border: 2px solid #fff;
    width: 120px;
    color: #fff;
    font-size: 16px;
    padding: 9px 16px;
    border-radius: 25px;

}
.primary-2:hover {
    background: transparent;
    border: 2px solid #2F2F2F;
    width: 120px;
    color: #2F2F2F;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 400;

}
.secondary{
    padding: 8px 16px;
    color: #fff;
    background-color: transparent;
    border: 1.5px solid #fff;
    
}
.sofa{
    height: 400px;
    width: 50%;
    object-fit: contain;
}
div img{
    height: 100%;
    width: 100%;
}
.chairs_section{
    margin-top: 30px;
    display: flex;
    padding: 0 180px;
    flex-direction: column;
}
.chairs{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: px;
}
.txtcard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 245px;
    height: 300px;
}
.txt{
    color: #2F2F2F;
    font-size: 32px;
    font-weight: 600;
}
div p{
    color: #6D6F6E;
    font-size: 16px;
}
.cards{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
.photo{
    width: 226px;
    height: 217px;
    object-fit: contain;
}
.photo img{
    height: 100%;
    width: 100%;
}

.name_price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.name_price h3{
    font-size: 16px;
    font-weight: 600;
}
.maincontainer{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-start;
}
.subcontent{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 180px;
    margin-top: 30px;
}
.firstcontent{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.advert{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.smtxt{
    font-size: 16px;
    font-weight: 400;
    color: #6D6F6E;
}
.features{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}
.feat{
    display: block;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 220px;
}
div h3{
    color: #2F2F2F;
    font-size: 18px;
    font-weight: 500;
}
.feat p{
    font-size: 16px;
    font-weight: 400;
    color: #6D6F6E;
}
.featicons{
    width: 48px;
    height: 48px;
    padding: 1px;
    object-fit: contain;
}
.featicons img{
    width: 100%;
    height: 100%;
}
.interior{
    width: 45%;
    height: 600px;
    object-fit: contain;
}
.interior img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.secondsub{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0 180px;
}
.lowkey{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 24px;
}

.heading{
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    align-items: flex-start;
    
}
.heading .txt{
    margin-bottom: 16px;
    text-transform: capitalize;
}
.list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}
li{
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    width: 210px;
    height: 66px;
    gap: 8px;
}
.details{
    list-style-type: circle;
}


footer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0 180px;
}
.showchair{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:24px;
}
.descriptions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pic{
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.pic img{
    width: 100%;
    height: 100%;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
}
.learnmore{
    border: none;
    word-break: keep-all;
    padding: 8px 0;
    font-size: 16px;
}
.designs{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    width: 50%;
    height: 700px;
}
.designs div img{
    border-radius: 15px;
}
.one{
grid-column: 1 / span 18;
    grid-row: 1 / span 27;
}
.two{
    grid-column: 19 / span 27;
        grid-row: 1 / span 5;
        padding-left: 20px;
}
.three{
    grid-column: 14 / span 16;
        grid-row: 6 / span 27;
        padding-top: 20px;
        
}
